.section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(113.38deg, rgba(3, 3, 3, 0.94) 0%, #482359 97.84%, rgba(28, 0, 41, 0.93) 102.67%);
  padding-top: 60px;
  padding-bottom: 60px;
  border:none;

  @media screen and (min-width: 1440px) {
    padding-top: 99px;
    padding-bottom: 101px;
  }
}

@media (min-width: 1200px) {
  .section-hero-line::before {
    top: 108px;
    position: absolute;
    content: '';
    display: block;
    min-width: 1025px;
    left: 80px;
    height: 2px;
    background: linear-gradient(180deg, #00FFF0 0%, #FFFFFF 68.23%);
    transform: rotate(180deg);
  }
  }

  

@media (min-width: 1440px) {
.section-hero-line::before {
  top: 108px;
  position: absolute;
  content: '';
  display: block;
  min-width: 1260px;
  left: 80px;
  height: 2px;
  background: linear-gradient(180deg, #00FFF0 0%, #FFFFFF 68.23%);
  transform: rotate(180deg);
}
}

@media (min-width: 1200px) {
  .section-hero-line::after {
    top: 240px;
    left: 975px;
    position: absolute;
    content: '';
    display: block;
    width: 260px;
    height: 2px;
    background: linear-gradient(180deg, #00FFF0 0%, #FFFFFF 68.23%);
    transform: rotate(90deg);
    right: -45px;
  }
  }

@media (min-width: 1440px) {
.section-hero-line::after {
  top: 240px;
  left: 1210px;
  position: absolute;
  content: '';
  display: block;
  width: 260px;
  height: 2px;
  background: linear-gradient(180deg, #00FFF0 0%, #FFFFFF 68.23%);
  transform: rotate(90deg);
  right: -45px;

}
}

@media (min-width: 1200px) {
  .section-hero-bgc::after {
    top: 568px;
    left: 980px;
    position: absolute;
    content: '';
    display: block;
    width: 250px;
    height: 2px;
    background: linear-gradient(180deg, #00FFF0 0%, #FFFFFF 68.23%);
    transform: rotate(90deg);
    right: -45px;
}
  }

@media (min-width: 1440px) {
.section-hero-bgc::after {
  top: 568px;
  left: 1200px;
  position: absolute;
  content: '';
  display: block;
  width: 290px;
  height: 2px;
  background: linear-gradient(180deg, #00FFF0 0%, #FFFFFF 68.23%);
  transform: rotate(90deg);
  right: -45px;

}
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 99px;
    padding-right: 100px;
    display: flex;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 99px;
    padding-right: 100px;
    display: flex;
  }
}

 h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

.list {
  list-style: none;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/* --HEADER-- */
.section-header {
padding: 38px 0 27px 0;
}

.container--flex {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

@media (min-width: 1200px) {
  .container--flex{
padding: 0 99px 0 99px;
display: flex;
align-items: flex-start;
  }
  }

.modal-button {
  background: url(./images/svg/Бургер.svg) 0 0 / 100% no-repeat;
  border: none;
  width: 38px;
  height: 38px;
}

@media (min-width: 1200px) {
  .modal-button{
    display: none;
  }
  }


@media (min-width: 1200px) {
  .menu-list{
    display: flex;
  }
  }


.menu-item {
  margin-left: 43px;
  margin-bottom: 24px;
}

.menu-item:first-child {
  margin-left: 0px;
}

.menu-item:last-child {
  margin-bottom: 0px;
}


@media (min-width: 860px) {
  .menu-item {
    display: flex;
    margin: 0 0 24px 43px;
  }
  }

.menu-item:first-child {
  margin-left: 0px;
}

.header-text {
  color: #FFFFFF;
font-family: 'Bitter';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 117%;
letter-spacing: 0.035em;
text-decoration: none;
transition: color .5s cubic-bezier(.4,0,.2,1) .1s,transform .5s cubic-bezier(.4,0,.2,1);
}

.header-text-current {
  color: #00E0D3;
  display:flex;
  align-items: center;
}

.header-text-current::before {
  content: '';
  display: flex;
  width: 35px;
  height: 2px;
  background: linear-gradient(180deg, #00FFF0 0%, #FFFFFF 100%);
  margin-right: 8px;

}
 @media (min-width: 1200px) {
  .header-text-current::before {
display: none;
  }
  }


.header-text:hover,
.header-text:focus {
  color: #a0fcf8;
  transform: scale(1.1);
  }

@media (min-width: 8px) {
  .menu-toggle {
    display: none;
  }
} 

  @media (min-width: 1200px) {
    .header-box {
      display: flex;
      margin-left: auto;
      align-items: center;
    }
}

.phone-svg {
  background: url(./images/svg/phone.svg) 0 0 / 100% no-repeat;
  width: 22px;
  height:17px;
  transform: rotate(0deg);
}


.phone-svg:hover {
  transform: rotate(90deg);
}

.tel {
color: #FFFFFF;
font-family: 'Roboto';
font-style: normal;

font-weight: 700;
font-size: 15px;
line-height: 102.69%;
letter-spacing: 0.035em;
text-decoration: none;
margin-bottom: 11px;
display: flex;
align-items: center;
margin-left: 20px;
}

@media (min-width: 1200px) {
  .tel {
    font-size: 17px;
    margin: 0 15px 0 0;
  }
}

.lang-link:hover,
.lang-link:focus {
color: #e0fffd;
  transform: scale(1.1);
  }

.lang-list {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 1200px) {
  .header-lang {
    margin-right: 0px;
  }
}
@media (min-width: 1440px) {
  .header-lang {
    margin-right: 24px;
  }
}

.header-lang:last-child {
  margin-right: 0px;
}

.lang-link.translate {
color: #FFFFFF;
background-color: transparent;
font-family: 'Bitter';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 117%;
letter-spacing: 0.035em;
list-style: none;
text-decoration: none;
border:none;
}

 a:active {
  font-weight: 700;
}

/* --HERO-- */
.section-hero-bgc {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(113.38deg, rgba(3, 3, 3, 0.94) 0%, #482359 97.84%, rgba(28, 0, 41, 0.93) 102.67%);
  padding-top: 117px;
  border-bottom: 2px solid rgba(0, 255, 240, 1);
  border-top: 2px solid 
  rgba(0, 255, 240, 1);
}

@media screen and (min-width: 1200px) {
  .section-hero-bgc {
    padding-top: 164px;
    padding-bottom:190px;
    position: relative;
    border-bottom: none;
    border-top: none;
  }
}

.info-hero {
  max-width: 633px;
  justify-content: end;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 600;
  font-size: 39px;
  line-height: 41px;
  letter-spacing: 0.035em;
  color: #FFFFFF;
}

@media screen and (min-width: 896px) {
  .hero-title {
    margin-bottom: 16px;
    font-size: 50px;
line-height: 111%;
width:362px;
  }
}

.hero-text {
font-family: 'Bitter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 117%;
letter-spacing: 0.035em;
color: rgba(0, 224, 211, 0.38);
margin-bottom: 31px;
}

@media screen and (min-width: 896px) {
  .hero-text {
    margin-bottom: 34px;
    font-size: 20px;
line-height: 117%;
  }
}

.hero-txt {
/* font-family: 'Charm'; */
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 117%;
letter-spacing: 0.035em;
color: #FFFFFF;
margin-bottom: 56px;
max-width: 662px;
}

@media screen and (min-width: 896px) {
  .hero-txt {
    margin-bottom: 47px;
    font-size: 17px;
    width: 633px;
  }
}

.button-flex {
  display: flex;
  align-items: center;
}

.button-svg {
  background: url(./images/svg/стрелка.svg)  0 0 / 100% no-repeat; 
  width:41px;
}
@media screen and (min-width: 1440px) {
  .button-svg {
    width:67px;
  }
}

.button-svg:hover {
  transform: rotate(360deg);
  transition-duration: 1s;
}


.hero-btn {
  /* font-family: 'Charm'; */
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 102.69%;
letter-spacing: 0.035em;
color: #FFFFFF;
width: 192px;
height: 49px;
padding: 0;
margin: 0 auto;
display: block;

border: 2px solid #00E0D3;
box-shadow: 0px 2px 4px 5px rgba(0, 224, 211, 0.25);
background: transparent;
margin-bottom: 19px;
transition: color .3s cubic-bezier(.2,0,.2,1) .1s,transform .3s cubic-bezier(.2,0,.2,1);
}

@media screen and (min-width: 1440px) {
  .hero-btn {
    width: 280px;
height: 70px;
    margin-bottom: 31px;
    font-size: 18px;
line-height: 117%;
  }
}

 .hero-btn:hover {
  transform: scale(1.05);
box-shadow: 0px 3px 5px 6px rgba(2, 201, 191, 0.25);
 }
 .hero-btn:focus {
  transform: scale(1.05);
  box-shadow: 0px 3px 5px 6px rgba(2, 201, 191, 0.25);
   }


.btn {
  margin: 0 0 0 28px;

}
@media screen and (min-width: 896px) {
  .btn{
    margin: 0 0 0 39px;
  }
}

.hero-img-box { 
  position: relative;
  width: 327px;
  height: 430px;
   margin-left: auto;
   margin-right: auto; 
}
@media screen and (min-width: 667px) {
  .hero-img-box{
position: relative;
    width: 720px;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
    left: -80px;
  }}

  @media screen and (min-width: 1200px) {
    .hero-img-box{
      top: -210px;
      left: 0px;
      width: 3000px;
      /* left: 0px; */
      height: 0px;
  }
  }

@media screen and (min-width: 1440px) {
  .hero-img-box{
    top: -210px;
    left: 0px;
    width: 3000px;
    height: 0px;
}
}

.hero-img {
width: 327px;
height: 430px;
margin-left: auto;
margin-right: auto;
z-index: 1; 
}

@media screen and (min-width: 667px) {
  .hero-img{
    width: 620px;
    height: 430px;
    margin-right: 0;
  }}

  @media screen and (min-width: 1200px) {
    .hero-img{
      top: -80px;
      width: 3498px;
      left: 0px;
      height: 800px;
    }
  }

@media screen and (min-width: 1440px) {
  .hero-img{
    top: -100px;
    width: 3000px;
    left: 0px;
    height: 800px;
  }
}

.hero-photo {
  position: absolute;
  top: 0px;
  left: 15px;
  z-index: 2;
}

@media screen and (min-width: 667px) {
  .hero-photo {
position: absolute;
top: 0px;
left: 250px;
z-index: 2;

  }}

  @media screen and (min-width: 1200px) {
    .hero-photo {
      top: 258px;
      left: 31px;
      width: 580px;
    }
  }

@media screen and (min-width: 1440px) {
  .hero-photo {
    top: 0px;
    left: 20px;
    width: 580px;
  }
}

.hero-social-networks {
    display:flex;
      display: none;
}

@media screen and (min-width: 896px) {
  .hero-social-networks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 310px;
    right: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-social-networks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 380px;
    right: -22px;
  }
  }

  @media screen and (min-width: 1200px) {
    .hero-social-networks {
  top: 350px;
  right: -20px;
    }}

@media screen and (min-width: 1200px) {
.hero-networks-svg1 {
  background: url(./images/svg/Instagram.svg)  0 0 / 100% no-repeat; 
  width:27px;
  height: 29px;
  margin-bottom: 2px;
}
}

.hero-networks-svg1:hover {
  transform: rotate(45deg);
}


@media screen and (min-width: 1200px) {
.hero-networks-svg2 {
  background: url(./images/svg/Facebook.svg)  0 0 / 100% no-repeat; 
  width:35px;
  height: 26px;
  margin-bottom: 2px;
}
} 
.hero-networks-svg2:hover {
  transform: rotate(45deg);
}


@media screen and (min-width: 1200px) {
.hero-networks-svg3 {
  background: url(./images/svg/Telegram.svg)  0 0 / 100% no-repeat;
  width:27px;
  height: 27px; 
}
}

.hero-social:hover,
.hero-social:focus {
  transform: rotate(360deg);
  transition-duration: 1s;
}


/* --SECTION ABOUT ME-- */
.section-bcg {
  background: linear-gradient(132.73deg, #1B121F 13.48%, #2F193A 54.41%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1440px) {
  .section-bcg {
padding:75px 0 80px 0;
  }
}

.second-title-absolute {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 117%;
  letter-spacing: 0.035em;
  color: #FFFFFF; 
  display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .second-title-absolute {
    position: absolute;
    position: absolute;
    top: 790px;
  }
 } 

@media screen and (min-width: 1440px) {
  .second-title-absolute {
    position: absolute;
    top: 810px;
  }
 } 

 .second-title-absolute::before {
  content: '';
  display: block;
  width: 35px;
height: 2px;
background: linear-gradient(180deg, #00FFF0 0%, #FFFFFF 100%);
margin-right: 9px;
 }

 @media screen and (min-width: 1440px) {
  .second-title-absolute::before {
    width: 64px;
  }
 }

 .second-title-absolute::after {
  content: '';
  display: block;
  width: 35px;
height: 2px;
background: linear-gradient(180deg, #00FFF0 0%, #FFFFFF 100%);
margin-left: 9px;
 }
 
 @media screen and (min-width: 1200px) {
  .second-title-absolute::after {
    content: '';
    display: block;
    width: 717px;
    height: 2px;
    background: linear-gradient(180deg, #00FFF0 0%, #FFFFFF 100%);
  }}


 @media screen and (min-width: 1440px) {
 .second-title-absolute::after {
  content: '';
  display: block;
  width: 1030px;
height: 2px;
background: linear-gradient(180deg, #00FFF0 0%, #FFFFFF 100%);
 }}

 .second-title {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 117%;
  letter-spacing: 0.035em;
  color: #FFFFFF; 
  display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 1440px) {
  .second-title{
    font-size: 27px;
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  .second-title::after {
    width: 850px;
  }
}

.second-title::before{
  content: '';
  display: block;
  width: 35px;
height: 2px;
background: linear-gradient(180deg, #00FFF0 0%, #FFFFFF 100%);
margin-right: 9px;
}

@media screen and (min-width: 1440px) {
  .second-title::before {
    width: 67px;
  }
}

.second-title::before:hover {
  width: 80px;
}

.second-title::after{
  content: '';
  display: block;
  width: 35px;
height: 2px;
background: linear-gradient(180deg, #00FFF0 0%, #FFFFFF 100%);
margin-left: 9px;
}

@media screen and (min-width: 1440px) {
  .second-title::after {
    width: 67px;
  }
}

.second-title::after:hover {
  width: 80px;
}

@media screen and (min-width: 1440px) {
  .section-feature {
padding:47px 0 60px 0;
  }
}

.feature-list {
  margin-top: 47px;
  width: 339px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 860px) {
  .feature-list {
display: flex;
width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .feature-list {
width: 100%;
  }
}

.feature-item{
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.feature-item:not(:last-child) {
  margin-bottom: 25px;
}

@media screen and (min-width: 860px) {
  .feature-item {
margin: 0 30px 0 0;
align-items: flex-start;
  }
}

.feature-svg__1 {
  margin-right: 23px;
  background: url(./images/svg/feature-clock.svg)  0 0 / 100% no-repeat; 
}

@media screen and (min-width: 667px) and (max-width: 1440px){
  .feature-svg__1 {
margin:0;
  }
}

  .feature-svg__2 {
margin: 0 12px 0 0;
background: url(./images/svg/feature-book.svg)  0 0 / 100% no-repeat;
  }
  @media screen and (min-width: 667px) and (max-width: 1440px){
    .feature-svg__2 {
  margin:0;
    }
  }

.feature-svg__3 {
  margin-right: 17px;
  background: url(./images/svg/feature-tringle.svg)  0 0 / 100% no-repeat;
}
@media screen and (min-width: 667px) and (max-width: 1440px){
  .feature-svg__3 {
margin:0;
  }
}


  .feature-svg__4 {
margin: 0 5px 0 0;
background: url(./images/svg/feature-percent.svg)  0 0 / 100% no-repeat;
}

@media screen and (min-width: 667px) and (max-width: 1440px){
  .feature-svg__4 {
margin:0;
  }
}

@media screen and (min-width: 1440px) {
  .feature-svg__3 {
margin: 0 6px 0 0;
  }
}

.feature-svg__4 {
  margin-right: 10px;
}

.feature-descr {
  /* font-family: 'Charm'; */
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 117%;
  letter-spacing: 0.035em;
  color: #FFFFFF;
}

@media screen and (min-width: 1440px) {
  .feature-descr {
font-size: 17px;
  }
}


/* --ABOUT ME SECTION-- */

.container-block {
  position: relative;
  display: block;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .container-block {
/* width:1170px; */
}
  }

@media screen and (min-width: 1440px) {
  .container-block {
position: static;
}
  }

.about-container {
  max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top:10px;
}

@media screen and (min-width: 860px) {
  .about-container {
    width: 450px;
    right: 0px;
}
  }
  @media screen and (min-width: 1200px) {
    .about-container {
      width: 530px;
      right: -40px;
      top: 30px;
  }
    }


@media screen and (min-width: 1440px) {
  .about-container {
    width: 611px;
    top: 90px;
}
  }

  .blur-container {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
  }


  .blur {
    background-color: rgba(117, 37, 157, 0.24);
    filter: blur(100px);
    border-radius: 50%;
    width:330px;
    height: 500px;
  }

  @media screen and (min-width: 740px) {
    .blur {
height: 300px;
    }
  }

  @media screen and (min-width: 1440px) {
.blur {
  width: 600px;
  top: -120px;

}
  }

.txt-box {
  list-style-type: disc;
  color: #FFFFFF;
  margin-left: 25px;
}

@media screen and (min-width: 1440px) {
  .txt-box {
margin-bottom: 40px;
  }
}


.title-left {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 117%;
  letter-spacing: 0.035em;
  color: #FFFFFF; 
  display: flex;
    align-items: center; 
}

@media screen and (min-width: 1440px) {
  .title-left {
justify-content: left;
  }
}

.title-left::before{
  content: '';
  display: block;
  width: 35px;
height: 2px;
background: linear-gradient(180deg, #00FFF0 0%, #FFFFFF 100%);
margin-right: 12px;
}

@media screen and (min-width: 1440px) {
  .title-left::before {
    width: 67px;
  }
}

.title-left::after{
  content: '';
  display: block;
  width: 35px;
height: 2px;
background: linear-gradient(180deg, #00FFF0 0%, #FFFFFF 100%);
margin-left: 12px;
}

@media screen and (min-width: 1440px) {
  .title-left::after {
    width: 67px;
  }
}

.flex-about {
margin-bottom: 59px;
}

@media screen and (min-width: 860px) {
  .flex-about{
display: flex;
margin-bottom: 132px;
  }
}

@media screen and (min-width: 1440px) {
  .flex-about{
display: flex;
  }
}

.aboutMe-img-box {
  margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    position: relative;
     margin-top: 40px;
margin-bottom: 50px; 
width: 330px;
}

@media screen and (min-width: 860px) {
  .aboutMe-img-box {
    width: 558px;
  }
  }

  @media screen and (min-width: 860px) {
    .aboutMe-img-box {

    }
    }

@media screen and (min-width: 1440px) {
.aboutMe-img-box {
  margin-top: 40px;
  width: 558px;
  height: 523px;
}
}

@media screen and (min-width: 1440px) {
  .about-me-form {
    width: 559px;
  }
}

.about-me-photo {
  position: absolute;
  top: -25px;
  left: 85px;
}

@media screen and (min-width: 860px) {
  .about-me-photo {
    height: 330px;
    left: 80px;
    top: -20px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-photo {
    width: 343px;
    height: 491px;
    left: 130px;
    top: -10px;
  }
}


.info-title-text {
font-family: 'Bitter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 117%;
display: flex;
align-items: center;
letter-spacing: 0.035em;
color: #00FFF0;
}

.info-item {
margin-bottom: 15px;
margin-top: 10px;
}

.info-text {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 117%;
  letter-spacing: 0.035em;
  color: #FFFFFF;
}

@media screen and (min-width: 860px) {
  .services-block {
display: flex;
align-items: center;

  }
}

@media screen and (min-width: 1440px) {
  .services-block {
align-items: flex-end;
  }
}


@media screen and (min-width: 1440px) {
  .services-block-cont {
display: block;
margin-left: auto;
  }
}

.services-phoneImg {
  margin-left: auto;
  margin-right: auto;
}

.frame-box{
  border: 2px solid rgba(0, 255, 240, 1);
  border-top: none;
padding: 0px 16px 17px 21px;
margin-bottom: 44px;
position: relative;
text-align: left;
width: 329px;
margin-right: auto;
margin-left: auto;
}

@media screen and (min-width: 483px) {
  .frame-box{
    margin-top: 10px;
  }
}

@media screen and (min-width: 600px) {
  .frame-box{
    width: 570px;
  }
}

@media screen and (min-width: 860px) {
  .frame-box{
    width: 430px;
margin-bottom: 0px;
  }
}

@media screen and (min-width: 960px) {
  .frame-box{
width: 500px;
  }
}

@media screen and (min-width: 1440px) {
.frame-box {
    width: 580px;
}
}

.frame-box::before {
  content: '';
  display: block;
  width: 35px;
  height: 2px;
  background: rgba(0, 255, 240, 1);
  position: absolute;
  left: 0px;
}

@media screen and (min-width: 1440px) {
  .frame-box::before{
width: 67px;
  }
}

.frame-box::after {
  content: '';
  display: block;
  width: 35px;
  height: 2px;
  background: rgba(0, 255, 240, 1);
  position: absolute;
  left: 290px;
  top: 0px;
}

@media screen and (min-width: 600px) {
  .frame-box::after{
    left: 530px;
  }
}

@media screen and (min-width: 667px) {
  .frame-box::after{
    left: 532px;
  }
}

@media screen and (min-width: 860px) {
  .frame-box::after{
    left: 392px;  
}
}

@media screen and (min-width: 960px) {
  .frame-box::after{
    left: 463px;
}
}

@media screen and (min-width: 1200px) {
  .frame-box::after{
    left: 463px;
  }
}

@media screen and (min-width: 1440px) {
  .frame-box::after{
width: 67px;
left: 510px;
  }
}

.title-box {
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .title-box{
width: 582px;
margin: 0;
  }
}
@media screen and (min-width: 1200px) {
.socialtxt-box {
  display:flex;
}
}

.social-txt {
  font-family: 'Bitter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 126.69%;
color: rgba(255, 255, 255, 0.4);
text-align: center;
}

.thrd-title {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 117%;
  letter-spacing: 0.035em;
  color: #00FFF0;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.padding-none:hover {
  transform: scale(1.05);
}


@media screen and (min-width: 896px) {
  .padding-none{
margin-left: 20px;
  }
} 

@media screen and (min-width: 1440px) {
  .padding-none{
padding: 0;
  }
}


.interp-text {
  /* font-family: 'Charm'; */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.035em;
  color:white;
  padding: 0 58px 0 54px;
  margin-bottom: 35px;
  text-align: center;
}

.work-text {
color: #FFFFFF;
font-family: 'Charm';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 117%;
letter-spacing: 0.035em;
}

/* -- SERVIVES SECTION-- */
.section-services-bgc {
  background: linear-gradient(142.85deg, #2E1839 0%, #30193A 35.33%, #76249E 98.61%);
}

.services-line-box {
  border:2px solid rgba(255, 255, 255, 1);
  border-left: none;
  padding: 0 0 35px 0;
  border-top:none;
  position: relative;
  width:330px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 600px) {
  .services-line-box{
width: 580px;
  }
}

@media screen and (min-width: 580px) {
  .services-line-box{
width: 530px;
  }
}

@media screen and (min-width: 860px) {
  .services-line-box{
width: 800px;
  }
}

@media screen and (min-width: 1200px) {
  .services-line-box{
width: 1000px;
  }
}

@media screen and (min-width: 1440px) {
  .services-line-box{
width: 1200px;
  }
}


.second-title-line-absolut {
  position: absolute;
  top: -15px;
    left: 3px;
}

@media screen and (min-width: 860px) {
  .second-title-line-absolut{
top:-14px;
  }
}

.services-title {
  font-family: 'Bitter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.035em;
color: #FFFFFF;
/* margin-bottom: 22px; */

}

@media screen and (min-width: 8600px) {
  .services-title{
    font-size: 20px;
  }
}

.second-title-line {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 117%;
  letter-spacing: 0.035em;
  color: #FFFFFF; 
  display: flex;
    align-items: center; 
}


  .second-title-line{
    line-height: 70.69%;
  }


.second-title-line::before{
  content: '';
  display: block;
  width: 35px;
height: 2px;
background: linear-gradient(180deg, #00FFF0 0%, #FFFFFF 100%);
margin-right: 12px;
}

@media screen and (min-width: 8600px) {
  .second-title-line::before{
width: 67px;
  }
}

.second-title-line::after{
  content: '';
  display: block;
  width: 103px;
height: 2px;
background: linear-gradient(180deg, #00FFF0 0%, #FFFFFF 100%);
margin-left: 12px;
}

.second-title-line .lang::after{
  content: '';
  display: block;
  width: 92px;
height: 2px;
background: linear-gradient(180deg, #00FFF0 0%, #FFFFFF 100%);
margin-left: 12px;
}

@media screen and (min-width: 580px) {
  .second-title-line::after{
    width: 303px;
  }
}

@media screen and (min-width: 600px) {
  .second-title-line::after{
    width: 303px;
  }
}

@media screen and (min-width: 860px) {
  .second-title-line::after{
    width: 572px;
  }
}

@media screen and (min-width: 1200px) {
  .second-title-line::after{
    width: 772px;
  }
}

@media screen and (min-width: 1400px) {
  .second-title-line::after{
    width: 970px;
  }
}

.services-list {
  margin-bottom: 51px;
}

@media screen and (min-width: 860px) {
  .services-list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 79px 0 14px 0;
  }
}

  .services-flexbox{
display: flex;
align-items: flex-start;
  }

  .services-flexbox:first-child {
    margin-top: 44px;
  }

.services-item {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 860px) {
  .services-item{
display: block;
margin-right: 30px;
width: 350px;

  }
}

@media screen and (min-width: 1200px) {
  .services-item{
    width: 460px;
  }
}

@media screen and (min-width: 1440px) {
  .services-item{
    width: 565px;
  }
}

.services-svg_1 {
margin-right: 15px;
background: url(./images/svg/services1.svg)  0 0 / 100% no-repeat; 
width: 75px;
height: 50px; 
background-position: 100% 100%;
}

@media screen and (min-width: 8600px) {
  .services-svg_1{
    width:61px;
    height: 54px; 
  }
}

.services-svg_2 {
  margin-right: 9px;
  background: url(./images/svg/services2.svg)  0 0 / 100% no-repeat; 
  width: 90px;
  height: 90px;
}
@media screen and (min-width: 860px) {
  .services-svg_2{
    width:62px;
    height: 72px; 
  }
}

.services-svg_3 {
  margin-right: 9px;
  background: url(./images/svg/services3.svg)  0 0 / 100% no-repeat;
  width: 57px;
  height: 46px;
  background-position: 100% 70%;
}
@media screen and (min-width: 860px) {
  .services-svg_3{
    width:62px;
    height: 69px; 
  }
}

.services-svg_4 {
  margin-right: 16px;
  background: url(./images/svg/services4.svg)  0 0 / 100% no-repeat; 
  width: 60px;
  height: 70px;
}

@media screen and (min-width: 860px) {
  .services-svg_4{
    width:64px;
    height: 71px; 
  }
}
.services-svg_5 {
  margin-right: 18px;
  background: url(./images/svg/services5.svg)  0 0 / 100% no-repeat; 
  width:40px;
height: 51px; 
}

@media screen and (min-width: 860px) {
  .services-svg_1{
    width:55px;
    height: 56px; 
  }
}

.services-text {
  /* font-family: 'Charm'; */
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 117%;
letter-spacing: 0.035em;
color: #706E6E;
margin-left: 68px;
}

@media screen and (max-width: 860px) {
  .services-text{
display: none;
  }
}

/* --REVIEWS SECTION-- */
.section-reviews-bgc {
background: rgba(28, 0, 41, 0.93);
background-image: url("./images//reviews_1xDesc.png");
background-size: cover;
background-repeat: no-repeat;
background-position: 50% 50%;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section-reviews-bgc {
      background-image: url("./images/reviews_2xMob");
      /* background-size: cover; */
    }
    }
}

@media screen and (min-width: 896px) {
  background-image:
    conic-gradient(from 180deg at 50% 50%, #000000 -63.75deg, rgba(0, 0, 0, 0.91) 91.57deg, #000000 179.71deg, #000000 210deg, #000000 266.74deg, #000000 296.25deg, rgba(0, 0, 0, 0.91) 451.57deg),
    url(./images/reviews_1xDesc);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section-reviews-bgc {
      background-image: url(./images/reviews_2xDesc);
    }
  }
}


@media screen and (min-width: 1440px) {
  .section-reviews-bcg {
padding: 80px 0 74px 0;
  }
}
.reviews-container {
  background-blend-mode: soft-light;
  margin-right: auto;
  margin-left: auto;
  transition: color .3s cubic-bezier(.2,0,.2,1) .1s,transform .3s cubic-bezier(.2,0,.2,1);
}


.reviews-container:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 960px) and (max-width:1440px) {
  .container-pading-none {
padding: 0 99px 0 99px;
  }
}

.review-text {
  /* font-family: 'Charm'; */
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 117%;
  text-align: center;
  letter-spacing: 0.035em;
  color: #FFFFFF;
  margin-bottom: 25px;
}

@media screen and (min-width: 1440px) {
  .review-text {
    font-size: 15px;
    margin-bottom: 30px;
  }
}

.reviews-sec-txt {
/* font-family: 'Charm'; */
font-style: normal;
font-weight: 700;
font-size: 7px;
line-height: 117%;
letter-spacing: 0.035em;
color: #FFFFFF;
text-align: left;
}

@media screen and (min-width: 1440px) {
  .reviews-sec-txt {
    font-size: 14px;
  }
}

/* --RESULTS SECTION-- */
.section-res-bgc {
  padding-top: 60px;

  background: rgba(114, 36, 152, 1);
  background-image: url("./images/res_1xDesc.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .section-reviews-bgc {
        background-image: url("./images/res_2xDesc.png");
        /* background-size: cover; */
      }
      }
  }
  @media screen and (min-width: 680px) {
    .section-res-bgc {
      background-position: 100% 120%;
    }
  }
  
  @media screen and (min-width: 896px) {
    background-image:
      conic-gradient(from 180deg at 50% 50%, #000000 -63.75deg, rgba(0, 0, 0, 0.91) 91.57deg, #000000 179.71deg, #000000 210deg, #000000 266.74deg, #000000 296.25deg, rgba(0, 0, 0, 0.91) 451.57deg),
      url(./images/reviews_1xDesc);
  
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .section-reviews-bgc {
        background-image: url(./images/reviews_2xDesc);
      }
    }

}


@media screen and (min-width: 860px) {
  .section-res-bgc {
    background-position: 50% 130%;
  }
}
@media screen and (min-width: 1200px) {
  .section-res-bgc {
    padding-top: 98px;
    background-position: 50% 170%;
  }
}

@media screen and (min-width: 1440px) {
  .section-res-bgc {
    background-position: 50% 100%;
  }
}

.title-res {
margin-bottom: 123px;
}

.img {
  width: 132px;
  height: 138px;
  margin:0;
}


.results-img-box {
position: relative;
left:50px;
}

.res-item1 {
  margin-top: 20px;
  margin-left: 20px;
}

@media screen and (min-width: 667px) {
  .res-item1{
    margin-left: 110px;
  }
}

@media screen and (min-width: 1200px) {
  .res-item1{
    margin-left: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .res-item1{
    margin-bottom: 150px;
  }
}

.res-item2 {
  margin-top: 40px;
  margin-left: 20px;
}

@media screen and (min-width: 480px) {
  .res-item2{
    margin-top: 20px;
    margin-left: 95px;
  }
}

@media screen and (min-width: 844px) {
  .res-item2{
    margin-left: 145px;
  }
}

@media screen and (min-width: 960px) {
  .res-item2{
    margin-left: 100px;
  }
}


@media screen and (min-width: 1200px) {
  .res-item2{
    margin-top: 30px;
    margin-left: 50px;
  }
}

.res-item3 {
  margin-top: 50px;
  margin-left: 20px;
}

@media screen and (min-width: 467px) {
  .res-item3{
    margin-left: 20px;
  }
}

@media screen and (min-width: 667px) {
  .res-item3{
    margin-left: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .res-item3{
    margin-top: 10px;
  }
}
.res-item4 {
  margin-left: 20px;
}

@media screen and (min-width: 480px) {
  .res-item4{
    margin-left: 100px;
  }
}

@media screen and (min-width: 844px) {
  .res-item4{
    margin-left: 160px;
  }
}

@media screen and (min-width: 960px) {
  .res-item4{
    margin-left: 100px;
  }
}


.img1 {
position: relative;
z-index: 10;
margin-top: 60px;

}
@media screen and (min-width: 1440px) {
  .img1 {
    width: 140px;
    height: 146px;
  }
}


.img2 {
position: relative;
position: relative;
z-index: 5;
margin:0;
}


.img3 {
position: relative;
z-index: 10;
}


.img4 {
 position: relative;
    top: -5px;
    z-index: 10;
}

  .circle1 {
    position: relative;
    top: -45px;
    left: 30px;
    z-index: 1;
}

@media screen and (min-width: 1440px) {
  .circle1 {
    top: -45px;
    left: 20px;
    z-index: 1;
  }
}

  .circle2 {
    position: relative;
    left: 20px;
    top: -40px;
    z-index: 1;
  } 
  
  @media screen and (min-width: 1440px) {
    .circle2 {
      left: 25px;
      top: -40px;
      z-index: 1;
    }
  }

  .circle3 {
    position: relative;
    z-index: 1;
    top: -40px;
    left: 30px;
  }
    @media screen and (min-width: 1440px) {
      .circle3 {
        top: -35px;
        right: -25px;
        z-index: 1;
      }
    }

    .circle4 {
      z-index: 1;
      top: -50px;
    right: -25px;
    position: relative;
    }

    @media screen and (min-width: 1200px) {
      .circle4 {
        top: -50px;
      }
    }

      @media screen and (min-width: 1440px) {
        .circle4 {
          top: -35px;
          left: 30px;
        }
      }

/* --CASE SECTION-- */
.section-case-bgc {
  background: linear-gradient(100.62deg, #512069 0%, #542278 100%);
  padding: 86px 0 20px 0;

  
}

.case-container {
  background: rgba(196, 196, 196, 0.24);
  /* box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.1); */
  border-radius: 30px;
  padding: 27px 28px 27px 28px;
  margin-left: 12px;
    margin-right: 12px;
    text-align: left;
}

@media screen and (min-width: 600px) {
  .case-container {
padding: 41px 39px 27px 43px;
margin-left: 20px;
margin-right: 20px;
  }
}


@media screen and (min-width: 600px) {
  .case-container:not(:last-child) {
margin-left: 20px;
  }
}

.case-list {
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
}

@media screen and (min-width: 896px) {
  .case-list {
    margin-top: 58px;
    display: flex;
    justify-content: center;
  }
}

.case-flex {
  display: flex;
  align-items: center;
}

.case-svg1 {
  background: url('./images/svg/case-home.svg') 0 0 / 100% no-repeat;
  width: 28px;
  height: 21px;
}

@media screen and (min-width: 896px) {
  .case-svg1 {
    width: 46px;
    height: 35px;
  }
}
.case-svg2 {
  background: url('./images/svg/case-medical.svg') 0 0 / 100% no-repeat;
  width: 28px;
  height: 21px;
}

@media screen and (min-width: 896px) {
  .case-svg2 {
    width: 46px;
    height: 35px;
  }
}
.case-svg3 {
  background: url('./images/svg/case-constr.svg') 0 0 / 100% no-repeat;
  width: 28px;
  height: 21px;
}
@media screen and (min-width: 896px) {
  .case-svg3 {
    width: 46px;
    height: 35px;
  }
}

  .case-svg4 {
    background: url('./images/svg/case-infobis.svg') 0 0 / 100% no-repeat;
    width: 28px;
    height: 21px;
  }
  @media screen and (min-width: 896px) {
    .case-svg4 {
      width: 46px;
      height: 35px;
    }
  }

.case-title {
  /* font-family: 'Charm'; */
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.035em;
  color: #00E0D3;
}

@media screen and (min-width: 896px) {
  .case-title {
    font-size: 20px;
  }
}

.case-txt {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.035em;
  color: #FFFFFF;
  margin: 25px 0 11px 0;
}

@media screen and (min-width: 896px) {
  .case-txt {
    font-size: 15px;
  }
}

.sec-txt {
  /* font-family: 'Charm'; */
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 117%;
  letter-spacing: 0.035em;
  color: #FFFFFF;
  /* margin-bottom: 11px; */
}
@media screen and (min-width: 896px) {
  .sec-txt {
    font-size: 15px;
  }
}

.thrd-txt {
  /* font-family: 'Bitter'; */
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 117%;
  letter-spacing: 0.035em;
  color: rgba(255, 255, 255, 0.77);
   margin-top: 11px;
}

@media screen and (min-width: 896px) {
  .thrd-txt {
    font-size: 13px;
  }
}
/* --FORM SECTION-- */
.section-bcg-form {
   background: rgba(183, 94, 224, 1);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("./images/form_1xDesc.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.form {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), linear-gradient(112.28deg, rgba(32, 54, 250, 0.33) -42.01%, rgba(255, 163, 248, 0.43) 100%);
padding: 41px 39px 50px 36px;
text-align: center;
}

@media screen and (min-width: 896px) {
  .form {
    padding: 65px 148px 60px 141px;
    width: 100%;
    height: 100%;
  }
}

.box-margin {
  width: 336px;
  margin-bottom: 58px;
}

@media screen and (min-width: 896px) {
  .box-margin {
    width: 100%;
  }
}

.form-border {
  border:2px solid  rgba(149, 248, 242, 1);
  padding: 15px;
  height: auto;
  max-width: 648px;
  margin-left: auto;
  margin-right: auto;
}

.form-border:hover {
box-shadow: 0px 2px 4px 5px rgba(2, 201, 191, 0.25);
}

@media screen and (min-width: 896px) {
  .form-border {
    width: 648px;
    height: 469px;
  }
}

.form-text {
  /* font-family: 'Charm'; */
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 117%;
letter-spacing: 0.035em;
color: rgba(221, 221, 221, 0.65);
/* margin: 0 45px 0 45px; */
}

@media screen and (min-width: 896px) {
 .form-text {
  font-size: 13px;
  }
}

.form-input::placeholder {
  font-family: 'Charm';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 117%;
  display: flex;
  text-align: left;
  color:rgba(255, 255, 255, 0.51);
}

input:hover::placeholder,
input:focus::placeholder
 {
  color:white;
}

.label-name {
  font-family: 'Charm';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 117px;
  color: rgba(255, 255, 255, 0.51);
}

.label-name-current {
  color: #FFFFFF;
}

.form-input {
  color: #FFFFFF;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.51);
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  min-width: 222px;
  /* max-height: 40px; */
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 896px) {
  .form-input {
    width: 328px;
    height: 40px;
   }
 }

.input-margin {
  margin-top: 34px;
  margin-bottom:46px;
}

@media screen and (min-width: 896px) {
  .input-margin {
    margin-top: 66px;
    margin-bottom: 38px;
   }
 }

/* --FOOTER SECTION-- */
.section-footer {
  background-color: #281631;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("./images/footer_1xDesc.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  padding: 58px 0 31px 0;
}

@media screen and (min-width: 896px) {
  .section-footer {
padding: 97px 0 56px 0;
position: relative;
background-position: 50% 50%;
   }
 }

@media screen and (min-width: 896px) {
  .input-margin {
    margin-top: 66px;
    margin-bottom: 38px;
   }
 }


.footer-text {
  font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 117%;
color: #FFFFFF;
}

.footer-txt {
  font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 117%;
color: #FFFFFF;
text-align: center;
}

@media screen and (min-width: 896px) {
  .footer-txt{
margin-top: 54px;
   }
 }

.footer-line {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  align-items: center;
  margin-top: 58px;
}

@media screen and (min-width: 1200px) {
  .footer-line{
    position: absolute;
    position: absolute;
    top: -88px;
    right: 95px;
    z-index: 2;
   }
 }

 @media screen and (min-width: 1440px) {
  .footer-line{
    top: -85px;
    right: 10px;

   }
 }

 @media screen and (min-width: 1200px) {
  .social-items-box {
    position: relative;
    top: -60px;
    left: 820px;
    width: 102px;
    height: auto;
    z-index: 1;
 }
}

.social-items:hover {
  transform: rotate(360deg);
  transition-duration: 1s;
}

.social-items {
  margin-right: 3px;
  list-style:none;
}

.social-link1 {
  background: url('./images/svg/Instagram.svg') 0 0 / 100% no-repeat;
  width:20px;
  height:23px;
}

@media screen and (min-width: 1200px) {
  .social-link1{
    width:29px;
    height:31px;
   }
 }

.social-link2 {
  background: url('./images/svg/Facebook.svg') 0 0 / 100% no-repeat;
  width:25px;
  height:21px;
}
@media screen and (min-width: 1200px) {
  .social-link2{
    width:37px;
    height:28px;
   }
 }

.social-link3 {
  background: url('./images/svg/Telegram.svg') 0 0 / 100% no-repeat;
  width:20px;
  height:21px;
}

@media screen and (min-width: 1200px) {
  .social-link3{
    width:29px;
    height:29px;
   }
 }

@media screen and (min-width: 1200px) {
  .footer-tel{
margin: 0;
   }
 }

 .footer-border {
  margin: 27px 0 0 0;
  border-top: 2px solid rgba(255, 255, 255, 1);
 }

 @media screen and (min-width: 1200px) {
  .footer-border{
    margin: 40px 99px 0 100px;
   
   }
 }


/* --MODAL-- */
#modalForm {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 150;
display:none;
width:247px;
height:412px;
background: linear-gradient(179.96deg, #5A4863 0.04%, #5A4863 40.63%, #EECAFF 99.96%);
background-blend-mode: soft-light;
backdrop-filter: blur(70px);
padding: 72px 77px 97px 27px;
transition: transform .5s cubic-bezier(.4,0,.2,1) .1s,opacity .5s cubic-bezier(.4,0,.2,1);
}

@media screen and (min-width: 1200px) {
  #modalForm{
    width:700px;
    height:100%;
    display: block;
    position: unset;
    background: transparent;
    padding: 0;
   }
 }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  z-index: 20;
  background-color: transparent;
  display:none;
  transition-duration: 3s;
}

@media screen and (min-width: 1200px) {
  #overlay{
   display:none;
   }
 }

 .container-flex:hover {
  transition-duration: 3s;
 }

/* --MODAL FOOTER-- */

 .overlay-footer {
  position: fixed;
  left: 0;
  right:0;
  bottom:0;
  z-index: 20;
  background-color: rgba(0,0,0,.747);
 }

 /* --SLIDER-REVIEWS-- */

 .slick-track{
  display: flex;
 }

 .slick-list{
  overflow: hidden;
 }


.slider{
  position: relative;
}


.arrows-box {
  width: 187px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

 @media screen and (min-width: 1440px) {
  .arrows-box{
    /* width: 317px; */
    margin-top: 38px;
   }
 }

.arrows-box .slick-arrow {
  font-size: 0;
  width:54px;
  height:34px;
  outline: none;
  border: none;
  top: 275px;
 }

.arrows-box .slick-prev {
/* margin-right: 79px; */
background: url('./images/svg/arrow-left.svg') 0 0 / 100% no-repeat;
}

.arrows-box .slick-next{
background: url('./images/svg/arrow-right.svg') 0 0 / 100% no-repeat;
}

.rev_slider .arrows-box .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-top: 25px;
  list-style: none;
 }


 .arrows-box .slick-dots button {
  background: transparent;
  border: none;
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 117%;
  text-align: center;
  letter-spacing: 0.035em;
  position: relative;
  border: none;
  top: -30px;
  right: -70px;
 }

 .rev_slider.arrows-box .slick-dots button {
  background: transparent;
  border: none;
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 117%;
  text-align: center;
  letter-spacing: 0.035em;
  position: relative;
  border: none;
  top: -30px;
  right: -70px;
 }

 .slick-dots {
  display: flex;
  list-style: none;
 }

 @media screen and (min-width: 896px) {
  .slider__item.slick-center.reviews-sec-txt{
    color:white;
   }
 }

 @media screen and (min-width: 896px) {
  .slider__item .reviews-sec-txt{
    color: rgba(255, 255, 255, 0.38);
   }
 }

 .slick-list {
  padding: 0;
 }

 @media screen and (min-width: 896px) {
  .slick-list{
  justify-content: center; 
   }
 }

 #slick-slide-control01 {
  display: none;
} 
  
#slick-slide-control00::after {
    position: absolute;
    content: '/';
    display: block;
    width: 32px;
    height: 23px;
    color: white;
    right: -16px;
    top: 1px;
   } 

 /* --SLIDER-CASE-- */
 .slider__item-case{
  text-align: center;
  transition: all 0.3s ease 0s;
 }


.slider-case {
margin-top: 48px;
 }

  @media screen and (min-width: 896px) {
  .slider-case{
    margin-top: 58px;
   } 
  }

  .arrows-case-box {
    font-size: 0;
    outline: none;
    border: none;
    margin-top: 26px;
    width: 176px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 896px) {
    .arrows-case-box {
      font-size: 0;
      outline: none;
      border: none;
      width: 176px;
      margin-left: auto;
      margin-right: 180px;
     } 
    }
  
    @media screen and (min-width: 1440px) {
      .arrows-case-box {
width: 316px;  
     } 
      }

  .arrows-case-box .slick-arrow{
    font-size: 0;
    width:54px;
    height:34px;
    outline: none;
    border: none;
   }

    .slick-dots #slick-slide-control10::after {
    position: absolute;
    content: '/';
    display: block;
    width: 32px;
    height: 23px;
    color: white;
    top: 1px;
    left: 4px;
} 
  
    #slick-slide-control12 {
    display: none;
   } 
   #slick-slide-control13 {
    display: none;
   } 


   .arrows-case-box .slick-prev {
  background: url('./images/svg/arrow-left.svg') 0 0 / 100% no-repeat;
  margin-right: 68px;
   }
  
   @media screen and (min-width: 1440px) {
    .arrows-case-box .slick-prev {
      margin-right: 190px;
     }
   }


.arrows-case-box .slick-next {
  background: url('./images/svg/arrow-right.svg') 0 0 / 100% no-repeat;
   }

   .arrows-case-box .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-top: 26px;
    list-style: none;
   }
  
   .arrows-case-box .slick-dots button {
    background: transparent;
    border: none;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 117%;
    text-align: center;
    letter-spacing: 0.035em;
    position: relative;
    top: -55px;
   }

/* --SLIDER RESULTS-- */

.select {
  width: 50px;
  height: 50px;
}

.lang-title {
  font-family: 'Bitter';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 111%;
letter-spacing: 0.035em;
color: #FFFFFF;
}

.slick-slider {
margin-top: 69px;
}

.rev_slider .slick-dots {
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.rev_slider .slick-track {
  max-width: 100%!important;
  transform: translate3d(0, 0, 0)!important;
  perspective: 100px;
}

.rev_slider .slick-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  width: 100%!important;
  transform: translate3d(0, 0, 0);
  transition: transform 1s, opacity 1s;
}

.rev_slider .slick-snext,
.rev_slider .slick-sprev {
  display: block;
}

.rev_slider .slick-current {
  opacity: 1;
  position: relative;
  display: block;
  transform: translate3d(0, 0, 20px);
  z-index: 2;
  padding: 25px 21px 25px 18px;
}

.rev_slider .slick-snext {
  opacity: 0.7;
  transform: translate3d(26%, 0, 0px);
  z-index: 1;
}

.rev_slider .slick-sprev {
  opacity: 0.7;
  transform: translate3d(-26%, 0, 0px);
}

.test {
  display: block;
  backdrop-filter: blur(70px);
  background-blend-mode: soft-light;
    backdrop-filter: blur(70px); 
    width: 250px !important;
    /* height: 209px; */
  background-image: url("./images/reviewsCard1.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25px 21px 25px 18px;
  list-style: none;
  z-index: 50;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

@media screen and (min-width: 768px) {
  .test {
    width: 350px !important;
  }}

  @media screen and (min-width: 1200px) {
    .test {
      width: 480px !important;
      height: 210px;
    }}